/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* *************** */
/* RESET ENDS HERE */
/* *************** */

$primary-color: white;
$bg: white;

html,
body {
  height: 100%;
  width: 100%;
  background-color: white;
}

html {
  box-sizing: border-box;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.layout {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: black;
  a {
    font-size: 35px;
    margin: 2.5vh 2.5vw 2.5vh 2.5vw;
    color: black;
    text-decoration: none;
  }
  a:hover {
    color: gray;
  }
}

.layout-back {
  background-color: lightblue;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.layout-back-button {
  border: none;
  background-color: inherit;
  font-size: 2em;
}

.layout-title {
  display: flex;
  flex-direction: column;
  max-height: auto;
  background-image: radial-gradient(rgb(29, 28, 28), rgb(20, 11, 11));
  .layout-title-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    h1 {
      font-size: 3rem;
      margin: min(5vh, 50px) 0 min(5vh, 50px) 5%;
      text-align: left;
      background-image: linear-gradient(45deg, #f3ec78, #af4261);
      background-repeat: repeat;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-background-clip: text;
      -moz-text-fill-color: transparent;
      text-align: center;
      text-transform: uppercase;
    }
    button {
      width: auto;
      margin-right: min(5%, 50px);
      font-size: 1.5rem;
      background: transparent;
      color: white;
      border: none;
      transition: all ease-in-out 1s;
    }
    button:focus {
      outline: none;
    }
    .layout-title-header-clicked {
      transform: rotate(90deg);
    }
  }
  .layout-nav {
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    height: 0;
    overflow: hidden;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
    a {
      margin-top: 0;
      color: whitesmoke;
      font-size: 2rem;
    }
  }
  .layout-nav-open {
    height: 7.5vh;
  }
  box-shadow: 0px 0px 10px black;
}

.home {
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
  .button-link {
    margin: 5vh 5vw 5vh 5vw;
    border: none;
    width: min(60vw, 500px);
    height: 30vh;
    color: whitesmoke;
    font-size: 30px;
    align-self: center;
    text-align: center;
    justify-content: center;
    border-radius: 40px;
    box-shadow: 5px 5px 2px #888888;
    transition: all ease-in-out 0.6s;
  }
  .button-link:focus {
    outline: none;
  }
  .button-link:hover {
    transform: scale(1.05);
  }
  .flatiron-district {
    background-image: radial-gradient(rgb(135, 135, 160), #60e1f8);
  }
  .murray-hill {
    background-image: radial-gradient(#af4261, #f3ec78);
  }
  .submit {
    background-image: radial-gradient(black, lightgray);
  }
}

.neighborhood-title {
  text-align: center;
  margin-top: 2.5vh;
  margin-bottom: 5vh;
  font-size: 45px;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-item {
  position: relative;
  align-self: center;
  height: min(40vh, 400px);
  width: min(80%, 400px);
  margin-bottom: 5vh;
  background-color: lightblue;
  font-size: x-large;
  border-radius: 30px;
  box-shadow: 2px 10px 7px #888888;
  text-align: center;
  overflow: hidden;
  .list-image {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
    opacity: 0.5;
    background-size: cover;
  }
  .establishment {
    position: relative;
    font-size: 50px;
    font-weight: bold;
    color: black;
    margin-left: 5vw;
    margin-right: 5vw;
  }
  .category {
    position: relative;
    margin: 2rem;
    font-size: 1.5em;
    background-color: white;
    box-shadow: inset 0 0 7px #888888;
    border-radius: 5px;
    padding: 0.5em;
  }
  .deal {
    position: relative;
    overflow-y: scroll;
    margin: 5%;
  }
}

.deal-page {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 5vh;
  .establishment {
    font-size: 100%;
    font-weight: bold;
    color: black;
  }
  .category {
    font-size: 3rem;
    font-weight: bold;
    color: whitesmoke;
    margin-top: 10px;
    padding: 20px;
    background-color: orangered;
  }
  .deal {
    max-height: 35vh;
    width: min(100%, 400px);
    overflow-y: scroll;
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 20px;
    padding: 10px 5px 10px 5px;
    font-size: 35px;
    box-shadow: inset 0 0 5px #888888;
  }
  .map-title {
    margin: 50px 0 10px 0;
    font-size: 3em;
    font-weight: bold;
    color: black;
  }
  img {
    height: min(50vh, 400px);
    width: min(100%, 400px);
    box-shadow: 2px 10px 7px #888888;
    border-radius: 10px;
    align-self: center;
  }
  iframe {
    box-shadow: 2px 10px 7px #888888;
    height: min(50vh, 400px);
    width: min(100%, 400px);
  }
}

.submit-page {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  h1,
  h3 {
    align-self: center;
  }
  h1 {
    font-size: 3rem;
    margin-top: 2vh;
    margin-bottom: 5vh;
    text-transform: uppercase;
  }
  h3 {
    font-size: 2rem;
    color: darkgray;
    margin-bottom: 1vh;
    font-weight: bold;
  }
  input,
  select,
  option,
  button {
    text-align: center;
    text-align-last: center;
    font-size: 1.5rem;
    height: 5vh;
    width: 60vw;
    align-self: center;
    margin-bottom: 2rem;
  }
  input,
  select,
  option {
    border: 0px;
    border-bottom: 2px solid darkgray;
    transition: border-bottom ease-out 0.2s;
  }

  input:focus,
  select:focus {
    outline: none;
    border-bottom: 3px solid black;
  }
  button {
    height: 7.5vh;
    background-color: lightblue;
    border-radius: 1rem;
    box-shadow: 1px 5px 10px #888888;
  }
  button:focus {
    outline: none;
  }
}
