/* *************** */
/* VARIABLES */
/* *************** */

$primary-color: white;
$bg: white;
$desktopWidthMax: 400px;

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* *************** */
/* RESET ENDS HERE */
/* *************** */

html,
body {
  height: 100%;
  width: 100%;
  background-color: white;
}

html {
  box-sizing: border-box;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.layout {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: black;
  position: relative;
  a {
    font-size: 35px;
    margin: 2.5vh 2.5vw 2.5vh 2.5vw;
    color: black;
    text-decoration: none;
  }
  a:hover {
    color: gray;
  }
  .layout-submit {
    position: fixed;
    right: min(4vw, 15px);
    bottom: 2vh;
    height: 7.5vh;
    width: 4rem;
    padding: 0 10px 0 10px;
    border: none;
    box-shadow: 0px 0px 10px black;
    border-radius: 12px;
    text-transform: uppercase;
    background-image: radial-gradient(rgb(175, 34, 34), rgb(112, 41, 41));
    color: whitesmoke;
    z-index: 5;
    transition: color 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
  }
  .layout-submit:focus {
    outline: none;
  }
  .layout-submit:hover {
    color: lightgray;
    box-shadow: 0px 0px 20px black;
  }
}

.layout-back {
  background-image: radial-gradient(rgb(29, 28, 28), rgb(20, 11, 11));
  box-shadow: 0px 0px 10px black;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.layout-back-button {
  border: none;
  background-color: inherit;
  color: whitesmoke;
  font-size: 2em;
}

.layout-back-button:focus {
  outline: none;
}

.layout-title-outer {
  left: 0;
  top: 0;
  position: sticky;
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  z-index: 10;
  opacity: 0.9;
}
.layout-title {
  display: flex;
  flex-direction: column;
  max-height: auto;
  background-image: radial-gradient(rgb(29, 28, 28), rgb(20, 11, 11));
  z-index: 10;
  .layout-title-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    #title {
      font-size: 2.75rem;
      margin: min(7.5vh, 75px) 0 min(7.5vh, 75px) 5%;
      text-align: left;
      background-image: linear-gradient(45deg, #f3ec78, #af4261);
      background-repeat: repeat;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-background-clip: text;
      -moz-text-fill-color: transparent;
      text-align: center;
      text-transform: uppercase;
    }
    #title.title-small {
      margin-top: 3vh;
      margin-bottom: 3vh;
      font-size: 1.75rem;
    }
    button {
      width: auto;
      margin: 0 5% 0 0;
      font-size: 1.5rem;
      background: transparent;
      color: white;
      border: none;
      transition: transform ease-in-out 0.5s;
      transition: font-size ease-in-out 0.5s;
    }
    button:focus {
      outline: none;
    }
    .layout-title-header-clicked {
      color: gray;
      transform: scale(1.1);
    }
  }
  .layout-nav {
    display: flex;
    flex-direction: column;
    height: 0;
    overflow: hidden;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    a {
      margin: 0;
      padding-left: 5vw;
      padding-top: 1.5vh;
      color: whitesmoke;
      font-size: 2rem;
    }
    a:first-of-type {
      margin-top: 1vh;
    }
  }
  .layout-nav-open {
    border-top: 1px solid gray;
    height: 40vh;
  }
  box-shadow: 0px 0px 10px black;
}

.home {
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
  .home-deals-title,
  .home-title {
    align-self: center;
    font-size: 3rem;
    margin-bottom: 3vh;
    font-weight: bold;
  }
  .home-deals {
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
    box-shadow: inset 0 0 7px #888888;
    margin-bottom: 5vh;
    width: min(85vw, 500px);
    border-radius: 10px;
    a {
      width: 90%;
      align-self: center;
      text-align: center;
      font-size: 1.5rem;
      color: grey;
      font-weight: bold;
      transition: color 0.3s ease-in-out;
    }
    a:hover {
      color: darkgray;
    }
  }
  .button-link {
    background-size: cover;
    margin: 5vh 5vw 5vh 5vw;
    border: none;
    width: min(60vw, 500px);
    height: min(50vh, 300px);
    font-size: 1.75rem;
    align-self: center;
    text-align: center;
    justify-content: center;
    border-radius: 40px;
    box-shadow: 5px 5px 2px #888888;
    transition: transform ease-in-out 0.6s;
    span {
      background-color: black;
      padding: 1vh 2vw;
      color: rgba(231, 220, 220, 0.9);
    }
  }
  .button-link:focus {
    outline: none;
  }
  .button-link:hover {
    transform: scale(1.05);
  }
}

.list-title {
  text-align: center;
  margin-top: 2.5vh;
  margin-bottom: 5vh;
  font-size: 2.5rem;
  font-weight: bold;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-item {
  position: relative;
  align-self: center;
  height: min(40vh, 400px);
  width: min(80%, #{$desktopWidthMax});
  margin-bottom: 5vh;
  background-color: lightblue;
  font-size: x-large;
  border-radius: 30px;
  box-shadow: 2px 10px 7px #888888;
  text-align: center;
  overflow: hidden;
  .list-image {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
    opacity: 0.5;
    background: no-repeat center center fixed;
    background-size: cover;
  }
  .establishment {
    position: relative;
    font-size: 2.75rem;
    font-weight: bold;
    color: black;
    margin-left: 5vw;
    margin-right: 5vw;
  }
  .category {
    position: relative;
    margin: 2rem;
    font-size: 2.25rem;
    background-color: white;
    box-shadow: inset 0 0 7px #888888;
    border-radius: 5px;
    padding: 0.5em;
  }
  .deal {
    position: relative;
    overflow-y: scroll;
    margin: 5%;
  }
}

.deal-page {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 5vh;
  .establishment {
    font-size: 2.5rem;
    font-weight: bold;
    color: black;
  }
  .category {
    font-size: 2.5rem;
    font-weight: bold;
    color: whitesmoke;
    margin-top: 2.5vh;
    padding: 20px;
    background-color: orangered;
    width: min(100%, #{$desktopWidthMax});
  }
  .deal {
    max-height: 35vh;
    width: min(100%, #{$desktopWidthMax});
    overflow-y: scroll;
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 20px;
    padding: 10px 5px 10px 5px;
    font-size: 1.75rem;
    box-shadow: inset 0 0 3.5px #888888;
    border-radius: 5px;
  }
  .section-title {
    margin: 50px 0 10px 0;
    font-size: 3em;
    font-weight: bold;
    color: black;
  }
  img {
    height: min(50vh, 400px);
    width: min(100%, #{$desktopWidthMax});
    box-shadow: 2px 10px 7px #888888;
    border-radius: 10px;
    align-self: center;
  }
  iframe {
    box-shadow: 2px 10px 7px #888888;
    height: min(50vh, 400px);
    width: min(100%, #{$desktopWidthMax});
  }
  form {
    width: min(100%, #{$desktopWidthMax});
    label {
      margin-top: 1.5vh;
      font-size: 1.5rem;
      input[type="email"],
      textarea {
        width: 100%;
        margin-top: 1vh;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        border: none;
        box-shadow: inset 0 0 3.5px #888888;
        border-radius: 5px;
        resize: none;
        padding: 1vh 2vw 1vh 2vw;
      }
      input[type="email"],
      textarea:focus {
        outline: none;
      }
    }
    input[type="submit"] {
      background-color: lightseagreen;
      color: whitesmoke;
      font-size: 1.25rem;
      font-weight: 600;
      margin-top: 1.5vh;
      width: 100%;
      height: 10vh;
      border: none;
      border-radius: 5px;
    }
    input[type="submit"]:focus {
      outline: none;
    }
    display: flex;
    flex-direction: column;
    text-align: start;
  }
}

.submit-page {
  display: flex;
  flex-direction: column;
  h1,
  h3 {
    align-self: center;
  }
  h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-top: 5vh;
    margin-bottom: 5vh;
    text-transform: uppercase;
  }
  h3 {
    font-size: 2rem;
    color: darkgray;
    margin-bottom: 1vh;
    font-weight: bold;
  }
  input,
  select,
  option,
  button {
    text-align: center;
    text-align-last: center;
    font-size: 1.5rem;
    height: 5vh;
    width: 60vw;
    align-self: center;
    margin-bottom: 2rem;
  }
  input,
  select,
  option {
    border: 0px;
    border-bottom: 2px solid darkgray;
    transition: border-bottom ease-out 0.2s;
  }

  input:focus,
  select:focus {
    outline: none;
    border-bottom: 3px solid black;
  }
  button {
    height: 7.5vh;
    background-color: lightblue;
    border-radius: 1rem;
    box-shadow: 1px 5px 10px #888888;
  }
  button:focus {
    outline: none;
  }
}

.submit-page-success {
  img {
    height: min(50vh, 400px);
    width: min(90%, #{$desktopWidthMax});
    box-shadow: 2px 10px 7px #888888;
    border-radius: 10px;
    align-self: center;
  }
  p {
    font-size: 1.5rem;
    width: min(90%, #{$desktopWidthMax});
    align-self: center;
    text-align: center;
    margin: 5vh 0 5vh 0;
    padding: 1rem;
    box-shadow: inset 0 0 5px #888888;
    border-radius: 10px;
  }
}

.deals-fixed {
  position: sticky;
  top: 9%;
  z-index: 10;
}
.deals-filters {
  display: flex;
  flex-direction: column;
  select {
    height: 5vh;
    border: gray 1px solid;
  }
  select:first-of-type {
    border-bottom: none;
  }
  select:focus {
    outline: none;
  }
}
